*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.content{
    color: aliceblue;
    font-size: 20px;
}

.parent{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


.child{
    background-image: linear-gradient(rgb(237, 147, 169),rgb(150, 150, 230));
    display: flex;
    width: 900px;
    min-height: 350px;
}


.img-area{
    width: 50%;
    position: relative;

}

.img-area img{
    width:400px;
    position: absolute;
    bottom: 0px;

}

.img-text{
    width:50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-self: center;

}

.btn1{
    padding: 10px 50px;
    border-radius: 25px;
}

.btn2{
    padding: 10px 50px;
    border-radius: 25px;
    background-color: transparent;
    
}



@media only screen and (max-width:710px){
    .img-text{
        text-align: center;
        padding: 10px 20px ;
        margin-top: 30px;
        margin-top: 30px;


    }

.parent{
    height: auto;
}


.child{
    flex-direction: column;
    width: 700px;
}


.img-area{
    width: 100%;
    text-align: center;
}


.img-area img{
    position: unset;
} 


}
